<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lw.moveservice.mapper.MacVodMapper">
    <!--取消原有推荐-->
    <update id="cancelLevel">
        UPDATE
            mac_vod
        SET vod_level = 0
        WHERE
            vod_level=9 OR vod_level=1
    </update>
<!-- 根据名称更新对应的推荐等级，更新为顶部幻灯片 9-->
    <update id="updateTopLevel">
        UPDATE
            mac_vod
        SET vod_level = 9
        WHERE
            vod_name=#{name}
        limit 1
    </update>
    <!-- 根据名称更新对应的推荐等级，更新为12宫推荐-->
    <update id="updateLevel">
        UPDATE
            mac_vod
        SET vod_level = 1
        WHERE
            vod_name=#{name}
        limit 1
    </update>
    <select id="getsameVodName" resultType="com.lw.moveservice.entity.MacVod">
        SELECT *
        FROM mac_vod a
        JOIN (
            SELECT vod_name
            FROM mac_vod
            GROUP BY vod_name
            HAVING COUNT(*) > 1
        ) b ON a.vod_name = b.vod_name
<!--        LIMIT #{current}, #{size}-->
    </select>

    <!-- 根据字段名称更新hit-->
    <update id="updateHitsDay">
        UPDATE
        mac_vod
        SET vod_hits_day = 0
        WHERE vod_hits_day !=0
    </update>

    <!-- 根据字段名称更新hit-->
    <update id="updateHitsWeek">
        UPDATE
        mac_vod
        SET vod_hits_week = 0
        WHERE vod_hits_week !=0
    </update>

    <!-- 根据字段名称更新hit-->
    <update id="updateHitsMonth">
        UPDATE
        mac_vod
        SET vod_hits_month = 0
        WHERE vod_hits_month !=0
    </update>

    <!-- 更新全部hit-->
    <update id="updateHits">
        UPDATE
        mac_vod
        SET vod_hits_day = 0, vod_hits_week = 0, vod_hits_month = 0
        WHERE vod_hits_day != 0 OR vod_hits_week != 0 OR vod_hits_month != 0
    </update>
</mapper>
